__pycache__/
*.py[cod]
*$py.class
.env
venv/
.venv/
ENV/
instance/
.pytest_cache/
.vscode/
.idea/
frontend/static/uploads/*
!frontend/static/uploads/.gitkeep
database/sqlite/*.db
database/sqlite/*.db-journal
backend/instance/
node_modules/
dist/
.DS_Store
